/* 小屏幕（平板，大于等于 768px） */
@media (max-width: 768px) { 
	
	header section .left{
		display: none;
	}
	
	header section .right{
		left: 50% !important;
		transform: translateX(-50%);
	}
	
	header section ul li a{
	 position: relative !important;
	 left: 10px !important;
    }
}

