/* Arrow */
@keyframes bounceHorizontal{
	0%{
		transform: translateX(0px);
	}
	25%{
		transform: translateX(5px);
	}
	50%{
		transform: translateX(0px);
	}
	75%{
		transform: translateX(-5px);
	}
	100%{
		transform: translateX(0px);
	}
}
@-moz-keyframes bounceHorizontal{
	0%{
		transform: translateX(0px);
	}
	25%{
		transform: translateX(5px);
	}
	50%{
		transform: translateX(0px);
	}
	75%{
		transform: translateX(-5px);
	}
	100%{
		transform: translateX(0px);
	}
}
@-ms-keyframes bounceHorizontal{
	0%{
		transform: translateX(0px);
	}
	25%{
		transform: translateX(5px);
	}
	50%{
		transform: translateX(0px);
	}
	75%{
		transform: translateX(-5px);
	}
	100%{
		transform: translateX(0px);
	}
}
@-webkit-keyframes bounceHorizontal{
	0%{
		transform: translateX(0px);
	}
	25%{
		transform: translateX(5px);
	}
	50%{
		transform: translateX(0px);
	}
	75%{
		transform: translateX(-5px);
	}
	100%{
		transform: translateX(0px);
	}
}

/* Navigation */
@keyframes slideDown{
	from{
		height: 0;
	}
	to{
		height: 2.3em;
	}
}
@-webkit-keyframes slideDown{
	from{
		height: 0;
	}
	to{
		height: 2.3em;
	}
}
@-moz-keyframes slideDown{
	from{
		height: 0;
	}
	to{
		height: 2.3em;
	}
}
@-ms-keyframes slideDown{
	from{
		height: 0;
	}
	to{
		height: 2.3em;
	}
}