body{
	font-family: "microsoft yahei", Arial, sans-serif;
	background-color: #D9D6CF;
}
::selection{
	background-color: #ccccff;
	color: white;
}
::-moz-selection{
	background-color: #CCCCFF;
	color: white;
}
::-webkit-selection{
	background-color: #CCCCFF;
	color: white;
}

/*
 * 0.0 common
 */
.line{
	display: inline-block;
	width: 100%;
	height: 3px;
	background-color: snow;
}

.lead{
	font-size: 26px !important;
	font-size: 2.6rem !important;
	font-family: Georgia,serif;
	padding: 0.5em 0 0 0;
	color: gray;
}

.tag{
	background-color: #43785b;
	padding: 2px 5px;
	margin: 0 5px;
	border-radius: 5px;
	color: white;
	opacity: 0.5;
}
.tag:hover{
	opacity: 1;
	cursor: default;
}

.box{
	border-radius: 1.8em;
	width: 18em;
	height: 18em;
	color: white;
	box-sizing: border-box;
	padding: 15px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.small-box{
    height: 10em;
}

/*
 * 0.1 color
 */
.darkgreen{
	background-color: #70a19f;
}
.lightblue{
	background-color: #81c2d6;
}
.darkblue{
	background-color: #8192d6;
}
.yellow{
	background-color: #ffe957;
}
.purple{
	background-color: #b9d3e6;
}
.yellowgreen{
	background-color: #dcf1a7;
}

/* 
 * 1.0 header 
 */
header{
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
}

header .bg{
	font-size: 1.2em;
	width: 100%;
	height: 41.67em;
	max-height: 500px;
	overflow: hidden;
	position: relative;
}

header .bg .mask{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #000;
	opacity: 0.15;
}

header .bg .gradient{
	background: -webkit-linear-gradient(top, white , black); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(top, white, black); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(top, white, black); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom, white , black); /* 标准的语法（必须放在最后） */
    opacity: 0.25;
}

header .bg img{
	width: 100%;
	min-width: 980px;
	height: auto;
	position: absolute;
	left: 0;
	top: 0;
}

header .bg .blur{
    
    /*-webkit-filter: blur(5px); /* Chrome, Opera */ 
    
}

header section .left{
	position: absolute;
	left: 22%;
	top:50%;
	margin-top: -64px;
}

header section .left img{
	width: 128px;
	height: 128px;
	border-radius: 50%;
	border-style: solid;
	border-width: 3px;
	border-color: whitesmoke;	
}

header section .right{
	position: absolute;
	left: 52%;
	top: 25%;
	font-size: 20px;
	font-size: 2rem;
	color: white;
}

header section .bubble{
	background-color: yellow;
	padding: 0.5em 0.8em;
	position: relative;
	display: inline-block;
	color: black;
}

header section .triangle{
	width: 0;
	height: 0;
	border-top: solid yellow 0.5em;
	border-bottom: solid transparent 0.5em;
	border-left: solid transparent 0.5em;
	border-right: solid transparent 0.5em;
	position: absolute;
	top: 100%;
	left: 0;
}

header section p{
	margin-top: 0.8em;
	margin-bottom: 0.5em;
	font-family: ruixianti;
	font-size: 26px;
	font-size: 2.6rem;
}

header section p small{
	font-size: 18px;
	font-size: 1.8rem;
}

header section ul{
	margin-top: 1em;
	line-height: 200%;
}

header section ul li a{
	position: absolute;
	left: 50%;
}

header section ul li a[title='go to my personal page']{
	position: static;
	left: 0;
}

header section ul li img{
	vertical-align: middle;
	margin-left: 1em;
	animation: bounceHorizontal 1s linear infinite alternate-reverse;
}

/*
 * 2.0 Works
 */
.section{
	text-align: center;
	display: block;
}
.section h2{
	font-size: 36px;
	font-size: 3.6rem;
	letter-spacing: 0.3em;
	font-weight: 600;
	padding-top: 2.8em;
	margin-bottom: 0.28em;
}
.section .line{
	width: 15em;
}

.section h3{
	font-size: 28px;
	font-size: 2.8rem;
}

.section img[alt='Monopoly']{
	width: 250px;
}
.section p{
	font-size: 16px;
	font-size: 1.6rem;
	margin-top: 1.875em;
	margin-bottom: 1.875em;
	line-height: 150%;
}

/*
 * 3.0 skills
 */
.fluid-box li{
	display: inline-block;
	vertical-align: middle;
}

/* 
 * 4.0 about
 */
.section .weight{
	font-size: 28px;
	font-size: 2.8rem;
}
.link a{
	margin: 0 10px;
}

/*
 * 5.0 svg icon
 */
.icon{
	width: 32px;
	height: 32px;
}
.icon:hover{
	fill: cornflowerblue;
}

