@font-face {
	font-family: 'ruixianti';
    src: url('../font/ruixianti.ttf') format('truetype');
}

body{
	font-family: 'ruixianti', Arial, sans-serif;
	background-color: #eff0dc;
}
::selection{
	background-color: #ddf0ed;
	color: white;
}
::-moz-selection{
	background-color: #ddf0ed;
	color: white;
}
::-webkit-selection{
	background-color: #ddf0ed;
	color: white;
}

/* 
 * 1.0 header 
 */
header{
	position: relative;
	overflow-x: hidden;
}

header .bg{
	font-size: 1.2em;
	width: 100%;
	height: 41.67em;
	max-height: 500px;
	overflow: hidden;
	position: relative;
}

header .bg .mask{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #000;
	opacity: 0.15;
}

header .bg .gradient{
	background: -webkit-linear-gradient(top, white , black); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(top, white, black); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(top, white, black); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom, white , black); /* 标准的语法（必须放在最后） */
    opacity: 0.25;
}

header .bg img{
	width: 100%;
	min-width: 980px;
	height: auto;
	position: absolute;
	left: 0;
	top: 0;
}

header .bg .blur{
	    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    
    -webkit-filter: blur(5px); /* Chrome, Opera */
       -moz-filter: blur(5px);
        -ms-filter: blur(5px);    
            filter: blur(5px);
    
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=5, MakeShadow=false); /* IE6~IE9 */
}

header section .left{
	position: absolute;
	left: 22%;
	top:50%;
	margin-top: -64px;
}

header section .left img{
	width: 128px;
	height: 128px;
	border-radius: 50%;
	border-style: solid;
	border-width: 3px;
	border-color: whitesmoke;	
}

header section .right{
	position: absolute;
	left: 52%;
	top: 25%;
	font-size: 20px;
	font-size: 2rem;
	color: white;
}

header section .bubble{
	background-color: yellow;
	padding: 0.5em 0.8em;
	position: relative;
	display: inline-block;
	color: black;
}

header section .triangle{
	width: 0;
	height: 0;
	border-top: solid yellow 0.5em;
	border-bottom: solid transparent 0.5em;
	border-left: solid transparent 0.5em;
	border-right: solid transparent 0.5em;
	position: absolute;
	top: 100%;
	left: 0;
}

header section p{
	margin-top: 0.8em;
	margin-bottom: 0.5em;
	font-family: ruixianti;
	font-size: 26px;
	font-size: 2.6rem;
}

header section p small{
	font-size: 18px;
	font-size: 1.8rem;
}

.line{
	display: inline-block;
	width: 100%;
	height: 3px;
	background-color: snow;
}

header section ul{
	margin-top: 1em;
	line-height: 200%;
}

header section ul li a{
	position: absolute;
	left: 50%;
}

header section ul li a[title='go to my personal page']{
	position: static;
	left: 0;
}

header section ul li img{
	vertical-align: middle;
	margin-left: 1em;
	animation: bounceHorizontal 1s linear infinite alternate-reverse;
}

/*
 * 2.0 Works
 */
.section1{
	text-align: center;
}
.section1 h2{
	font-size: 36px;
	font-size: 3.6rem;
	letter-spacing: 0.3em;
	font-weight: 600;
	margin-top: 2.8em;
	margin-bottom: 0.28em;
}
.section1 .line{
	width: 15em;
}
.section1 .lead{
	font-size: 26px;
	font-size: 2.6rem;
	font-family: Georgia,serif;
	padding: 0.96em 0 0 0;
	color: gray;
}
.section1 h3{
	font-size: 28px;
	font-size: 2.8rem;
	margin: 1.071em 0;
}
.section1 h3 a:hover{
	text-decoration: underline;
	cursor: pointer;
}
.section1 img{
	
}
.section1 p{
	font-size: 16px;
	font-size: 1.6rem;
	margin-top: 1.875em;
	margin-bottom: 3.125em;
}
